* {
  --text-color: 0, 0, 0;
  --background-color: 245, 232, 224;
  --backgroundLighten10-color: 246, 234, 227;
  --backgroundLighten20-color: 247, 237, 230;
  --primaryDarken-color: 54, 0, 247;
  --primary-color: 98, 54, 255;
  --primaryLighten10-color: 114, 74, 255;
  --primaryLighten50-color: 176, 154, 255;
  --primaryLighten70-color: 208, 195, 255;
  --secondary-color: 218, 0, 176;
}
